<div class="container">
  <div class="column">
    <h3>Amazon</h3>
    <div *ngFor="let status of amazonStatusHistory">
      <div class="container">
        <div class="column">
          {{ status.url }}
        </div>
        <div class="column">
          {{ status.statusCode }}
        </div>
        <div class="column">
          {{ status.duration }}
        </div>
        <div class="column">
          {{ status.date }}
        </div>
      </div>
    </div>

  </div>

  <div class="column">
    <h3>Google</h3>
    <div *ngFor="let status of googleStatusHistory">
      <div class="container">
        <div class="column">
          {{ status.url }}
        </div>
        <div class="column">
          {{ status.statusCode }}
        </div>
        <div class="column">
          {{ status.duration }}
        </div>
        <div class="column">
          {{ status.date }}
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <h3>All</h3>
    <div *ngFor="let status of allStatusHistory">
      <div class="container">
        <div class="column">
          {{ status.url }}
        </div>
        <div class="column">
          {{ status.statusCode }}
        </div>
        <div class="column">
          {{ status.duration }}
        </div>
        <div class="column">
          {{ status.date }}
        </div>
      </div>
    </div>
  </div>

</div>


<router-outlet></router-outlet>